/* Global reset */
* {
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Centering the page */
#page-wrapper {
    width: 90vw;
    margin: 0vh auto;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    padding: 10vh 2vw;
    background-color: #89ABE3;
    color: #27273b;
    text-align: left;
}

/* Two-column container */
#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #00246B;
}

/* Navigation */
nav {
    width: 25%;
    background-color: #89ABE3;
    padding: 1vw;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* Removes the bullet points */
    list-style: none; 
    text-align: center;
    padding-left: 0;
}

nav li {
    font-size: calc(10px + 1vw);
    width: 90%;
    background-color: #00246B;
    padding: 2vh 0;
    margin: 3vh auto;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: #F0F8FF;
    display: block;
    width: 100%;
    padding: 1vh;
    border-radius: 5px;
}

nav a:hover {
    background: #003366;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    color: #27273b;
}

/* Contact Links */
#links {
    text-align: center;
    width: 80%;
    padding: 2vh;
    background-color: #E8F1F2;
    border-radius: 10px;
    margin-bottom: 4vh;
}

.link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.real-link {
    text-decoration: none;
    display: block;
    padding: 1vh;
    background-color: #00246B;
    color: #F0F8FF;
}

.link-item:hover {
    text-decoration: underline;
}

.contact-logo {
    width: 4vw;
    height: auto;
    margin-right: 10px;
}


/* Contact Information */
#contact-info {
    text-align: center;
    width: 80%;
    background-color: #E8F1F2;
    padding: 2vh;
    border-radius: 10px;
    margin-bottom: 4vh;
}

h3 {
    font-size: 2vw;
}

.contact-label {
    font-weight: bold;
    color: #003366;
}

/* References */
#references {
    text-align: center;
    width: 80%;
    background-color: #E8F1F2;
    padding: 2vh;
    border-radius: 10px;
}

.reference-item {
    margin-bottom: 2vh;
}

.reference-name {
    font-size: calc(1.5vh + 1vw);
    font-weight: bold;
    color: #003366;
}

.reference-position {
    font-size: calc(1.2vh + 1vw);
    font-style: italic;
    color: #003366;
}

.reference-email {
    color: #003366;
    font-size: calc(0.5vh + 1vw);
}


/* Footer */
footer {
    background-color: #809BCE;
    display: flex;
    color: #27273b;
    justify-content: left;
    flex-direction: row;
    padding: 2vh;
}

footer a {
    color: #F0F8FF;
}

footer a:hover {
    background-color: #003366;
}



/* Responsive Design */
@media screen and (max-width: 900px) {
    #container {
        flex-direction: column;
    }
    
    nav {
        width: 100%;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    nav li {
        font-size: calc(2px + 1.5vw);
        width: auto;
        padding: 1% 1%;
        margin: 1% .5%;
    }
    
    main {
        width: 100%;
    }
    
    /* Main Content */
    .contact-logo {
        max-width: 5vw;
    }

    /* Adjust widths of content sections */
    #links, #contact-info, #references {
        width: 80%;
        margin: 10px;
    }

    .contact-label {
        flex-direction: column;
        align-items: center;
    }

    .real-link {
        font-size: calc(1vh + 1vw);
        text-align: center;
    }

    .reference-name {
        font-size: calc(1.3vh + 1vw);
    }

    .reference-position {
        font-size: calc(1vh + 0.8vw);
    }

    .reference-email {
        font-size: calc(0.8vh + 1vw);
    }
}
