/* Global reset */
* {
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Centering the page */
#page-wrapper {
    width: 70%;
    margin: 0vh auto;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    padding: 10vh 2vw;
    background-color: #89ABE3;
    color: #27273b;
    text-align: left;

    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
}

h1 {
    text-align: left;
    font-size: calc(2px + 4vw);
    color: #27273b;
}

/* Two-column container */
#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #00246B;
}

/* Navigation */
nav {
    width: 25%;
    background-color: #89ABE3;
    padding: 1vw;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* Removes the bullet points */
    list-style: none; 
    text-align: center;
    padding-left: 0;
}

nav li {
    font-size: calc(10px + 1vw);
    width: 90%;
    background-color: #00246B;
    padding: 2vh 0;
    margin: 3vh auto;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: #F0F8FF;
    display: block;
    width: 100%;
    padding: 1vh;
    border-radius: 5px;
}

nav a:hover {
    background: #003366;
}


/* Main Content */
#employment-main {
    display: flex;
    flex-direction: column;
    background-color: #00246B;
    padding: 5vh;
    max-width: 80%;
    font-size: calc(2vw + 1px);
    color: #C5DBC4;
}

.employments {
    padding: 2vh;
    font-size: calc(1vh + 10px);
}

.job-title {
    font-weight: bold;    
}

.company, .date {
    font-style: italic;
    font-size: calc(1vh + 10px);
}

.desc {
    padding-left: 2vw;
}

img {
    max-width: 80%;
    padding-top: 1vh;
}


/* Footer */
footer {
    background-color: #809BCE;
    display: flex;
    color: #27273b;
    justify-content: left;
    flex-direction: row;
    padding: 2vh;
}

footer a {
    color: #F0F8FF;
}

footer a:hover {
    background-color: #003366;
}



/* Responsive Design */
@media screen and (max-width: 900px) {
    #page-wrapper {
        width: 100%
    }

    header {
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: calc(10px + 5vw);
    }

    footer {
        justify-content: center;
    }
    
    #container {
        flex-direction: column;
        text-align: center;
    }
    
    nav {
        width: 100%;
        background-color: #dda0dd;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        background-color: #89ABE3;
    }
    
    nav li {
        font-size: calc(2px + 1.5vw);
        width: auto;
        padding: 1% 1%;
        margin: 1% .5%;
    }
    
    main {
        width: 100%;
    }
    
    /* Main Content */
    #emploment-main {
        justify-content: center;
    }

    .employments {
        padding: 2vh;
        margin-bottom: 2vh;
    }
    
    .job-title {
        font-size: (10px + 3vw);
    }
    
    .company, .job-dates {
        font-size: (2px + 1.5vw);
    }

    #wtcimg {
        max-width: 100%;
    }
    
}
